<p id="notice"><%= notice %></p>
<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>Mac</th>
      <th>Name</th>
      <th>Heartbeat</th>
      <th>Self latitude</th>
      <th>Self longitude</th>
      <th>Sanc latitude</th>
      <th>Sanc longitude</th>
      <th>Direction</th>
      <th>Distance</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.mac %></td>
        <td><%= user.name %></td>
        <td><%= user.heartbeat %></td>
        <td><%= user.self_latitude %></td>
        <td><%= user.self_longitude %></td>
        <td><%= user.sanc_latitude %></td>
        <td><%= user.sanc_longitude %></td>
        <td><%= user.direction %></td>
        <td><%= user.distance %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
